@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="~/images/download1.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  @*<link href="../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />*@
  <!-- CSS Files -->
  <link href="../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<SCRIPT language=JavaScript>



var message = "Warning!";

function rtclickcheck(keyp){ if (navigator.appName == "Netscape" && keyp.which == 3){ alert(message); return false; }

if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) { alert(message); return false; } }

document.onmousedown = rtclickcheck;

</SCRIPT>
<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" href="~/Dashboard/4AFA9223CF9E7FB47C64CAD5383D5">
          @*<img src="~/images/download1.png"/>*@
            <h2 style="color:white;">JYOTIRGAMAYA</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  @*<img src="../assets/img/brand/blue.png">*@
                     <h2 style="color:cornflowerblue;">JYOTIRGAMAYA</h2>
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="~/Dashboard/4AFA9223CF9E7FB47C64CAD5383D5">
                <i class="ni ni-planet"></i>
                <span class="nav-link-inner--text">Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">ABOUT US</h1>
             <p class="text-lead text-light"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-8">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12">
          <div class="card bg-secondary shadow border-0">
            
            <div class="card-body px-lg-5 py-lg-5" style="background-color:white">
                <center><img src="~/images/download1.png" style="width:180px;height:150px;"/></center>
                     <p class="w3-large"></p>
                     <p style="color:black;">Project Jyotirgamaya is an initiative to work in the field of sanitation and hygiene. It is an android application and website which covers Dehradun city , in association with the government.It is a dustbin and a toilet locator which will locate nearby public dustbins and toilets just on click of a button. User can login and complain about the broken or dirty dustbins. They can also upload pictures of the dustbin. Also they can inform about any new dustbins, which upon verification will be added to the database.
                      We (the team) aims to achieve clean and hygienic city.We want to reduce incidences of litter thrown on the road and roadside urination.We wish to raise awareness among the people to achieve sanitation at a very basic level in their surroundings.We want the people to realise the importance of cleanliness and the need of environment conservation.We wish to achive clean roads to set an example for other cities as well.
                     </p>
                     
                     <br />
                <h3 class="w3-center"><p style="color:black">THE TEAM</p></h3>
                <p class="w3-center w3-large" style="color:black;">The ones who runs this project </p>

                <br />
                <div class="w3-container" style="padding:30px 26px" id="team">
                    </div>
    <div class="container-fluid mt--5 " >
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <center><h3 class="mb-0">Team Members</h3></center>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="~/images/user2.png">
                        </a>
                        <div class="media-body">
                          <h4><span class="mb-0">Sneh Lata Aswal</span></h4>
                        </div>
                      </div>
                    </th>
                    <td>
                     
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="~/images/user2.png">
                        </a>
                        <div class="media-body">
                          <h4><span class="mb-0">Ranjeet Singh</span></h4>
                        </div>
                      </div>
                    </th>
                    <td>
                    
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="~/images/user2.png">
                        </a>
                        <div class="media-body">
                          
                             <h4><span class="mb-0">Sourabh Prakash</span></h4>
                        </div>
                      </div>
                    </th>
                    <td>
                     
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="~/images/user2.png">
                        </a>
                        <div class="media-body">
                           <h4><span class="mb-0">Priyanshi Shah</span></h4>
                        </div>
                      </div>
                    </th>
                    <td>
                     
                    </td>
                    
                   
                   
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="~/images/user2.png">
                        </a>
                        <div class="media-body">
                            <h4><span class="mb-0">Himanshu Gupta</span></h4>
                        </div>
                      </div>
                    </th>
                    <td>
                     
                    </td>
                    
                    
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
      <h1 class="w3-jumbo"><b>The App</b></h1>
      <h1 class="w3-xxxlarge w3-text-green"><b>Why worry</b></h1>
      <p><span class="w3-xlarge">You can Download our App.</span>.It is a dustbin and a toilet locator App which will locate nearby public dustbins and toilets just on click of a button. User can login and complain about the broken or dirty dustbins. They can also upload pictures of the dustbin. Also they can inform about any new dustbins</p>
      <a class="w3-button w3-light-grey w3-padding-large w3-section " href="
https://play.google.com/store/apps/details?id=com.jyotirgamaya.toiletlocator">
        <i class="fa fa-download"></i> Download Application
      </a>
      <p>Available for <i class="fa fa-android w3-xlarge w3-text-green"></i></p>
  </div>
</div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
   
    @*<div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>
</div>*@

<!-- Promo Section - "We know design" -->
@*<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>We know design.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> View Our Works</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large" src="/w3images/phone_buildings.jpg" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>
*@
<!-- Team Section -->

</body>
    <script src="../assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
      window.TrackJS &&
        TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "argon-dashboard-free"
        });
  </script>
</html>
